rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 회원 프로필: 인증된 사용자만 접근
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }

    // 자서전 데이터: 인증된 사용자만 접근
    match /memoirs/{userId} {
      allow read, write: if request.auth != null;
    }
  }
}
